<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="home-about-content">
        <h1>Why Liamtra?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus dolor orci, ut placerat ligula dapibus vel.
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ultricies
          consectetur velit, dictum eleifend neque dapibus quis. Aliquam tempus ante et commodo dapibus. Nulla faucibus arcu
          sed eros blandit consequat. Etiam gravida nisi lectus. Ut vehicula, orci et mollis imperdiet, ligula felis dapibus
          lacus, ut varius mi ligula quis lorem. In placerat sem at lectus mattis, volutpat volutpat leo ultrices. Nullam
          risus odio, faucibus nec risus non, dapibus consequat dolor.</p>
        <br>
        <h2>Book Unique Homes with Liamtra</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus dolor orci, ut placerat ligula dapibus vel.
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ultricies
          consectetur velit, dictum eleifend neque dapibus quis. Aliquam tempus ante et commodo dapibus. Nulla faucibus arcu
          sed eros blandit consequat. Etiam gravida nisi lectus. Ut vehicula, orci et mollis imperdiet, ligula felis dapibus
          lacus, ut varius mi ligula quis lorem. In placerat sem at lectus mattis, volutpat volutpat leo ultrices. Nullam
          risus odio, faucibus nec risus non, dapibus consequat dolor.</p>
        <br>
        <h2>Meet Like Minded Travelers at Liamtra</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus dolor orci, ut placerat ligula dapibus vel.
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ultricies
          consectetur velit, dictum eleifend neque dapibus quis. Aliquam tempus ante et commodo dapibus. Nulla faucibus arcu
          sed eros blandit consequat. Etiam gravida nisi lectus. Ut vehicula, orci et mollis imperdiet, ligula felis dapibus
          lacus, ut varius mi ligula quis lorem. In placerat sem at lectus mattis, volutpat volutpat leo ultrices. Nullam
          risus odio, faucibus nec risus non, dapibus consequat dolor.</p>
      </div>
    </div>
  </div>
</div>