<!-- <div class="all-static">
  <div class="blank"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Book Tour</h1>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <app-book-tour-search-filter></app-book-tour-search-filter>
      <img src="assets/images/coming-soon.jpg">
    </div>
  </div>
</div>


 -->


 <div class="cl-slider-home" *ngIf="src" [ngStyle]="{'background': 'url(' + src +')'}">
    <div class="slider-menu-in">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Book Tours online</h1>
            <h2>Deep discount on 17000+ Tour's in India</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="cl-slider-home-in">
      <app-book-tour-search-filter></app-book-tour-search-filter>
    </div>
  </div>
 
  <app-home-about></app-home-about>
