<style>
  .is-error {
    left: -5px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    color: #FFF;
    font-size: 1rem;
  }
</style>

<div class="form-inner-in">
  <!-- <div class="form-data">
    <span class="is-error">All astrick(*) fields are mandatory</span>
  </div> -->
  <div class="form-data">
    <label>Amenities
      <em style="color: red">*</em>
    </label>

    <angular2-multiselect [data]="aminitiesData" [(ngModel)]="selectedAmenities" (onSelect)="onAmenityItemSelect($event)" (onDeSelect)="OnAmenityItemDeSelect($event)"
      (onSelectAll)="onAmenitySelectAll($event)" (onDeSelectAll)="onAmenityDeSelectAll($event)">
    </angular2-multiselect>
  </div>

  <div class="form-data">
    <div class="form-inner-in" style="width: 50%;float: left;padding-left: 0;">
      <label>Select any two key highlights of your place
        <em style="color: red">*</em>
      </label>
      <angular2-multiselect [data]="highlightsPlaces" [(ngModel)]="selectedPlace" [settings]="dropdownSettings" (onSelect)="onPlaceSelect($event)"
        (onDeSelect)="OnPlaceDeSelect($event)" (onSelectAll)="onPlaceSelectAll($event)" (onDeSelectAll)="onPlaceDeSelectAll($event)">></angular2-multiselect>
    </div>

    <div class="form-inner-in" style="width: 50%;float: left;padding-left: 0;">
      <label>This place is good for
        <em style="color: red">*</em>
      </label>
      <angular2-multiselect [data]="placesGoodFor" [(ngModel)]="selectedHighlightsPlace" [settings]="dropdownSettings" (onSelect)="onHighlightSelect($event)"
        (onDeSelect)="OnHighlightDeSelect($event)" (onSelectAll)="onHighlightSelectAll($event)" (onDeSelectAll)="onHighlightDeSelectAll($event)">
      </angular2-multiselect>
    </div>
    <div class="clear"></div>
  </div>


  <div class="form-data">
    <label>Neighborhood </label>
    <input maxlength="1000" type="text" [(ngModel)]="hostModel.hostStayDetail.neighbourhood">
  </div>


  <div class="form-data">
    <label>Booking Preference
      <em style="color: red">*</em>
    </label>
    <select name="selectedbooking" [(ngModel)]="selectedBooking" (change)="selectBookingPreferences()">
      <option *ngFor="let data of bookingData" [ngValue]="data">
        {{ data.svcSCatgDesc }}
      </option>
    </select>
    <div class="clear"></div>
  </div>

  <div class="form-data">
    <div class="form-data-in">
      <label>Check-in Time
        <em style="color: red">*</em>
      </label>
      <input [(ngModel)]="hostModel.hostStayDetail.checkInTime" type="text" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
      <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
    </div>
    <div class="form-data-in">
      <label>Check-out Time</label>
      <input [(ngModel)]="hostModel.hostStayDetail.checkOutTime" type="text" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
      <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
    </div>
    <div class="clear"></div>
  </div>

  <div class="form-data">
    <label>House Rules
      <em style="color: red">*</em>
    </label>
    <angular2-multiselect [data]="houseRules" [(ngModel)]="selectedRules" [settings]="dropdownSettings" (onSelect)="onRuleSelect($event)"
      (onDeSelect)="OnRuleDeSelect($event)" (onSelectAll)="onRuleSelectAll($event)" (onDeSelectAll)="onRuleDeSelectAll($event)">
    </angular2-multiselect>
  </div>

  <div class="form-data">
    <label>Cancellation Policies
      <em style="color: red">*</em>
    </label>
    <angular2-multiselect [data]="cancellationPolicies" [(ngModel)]="selectedCancellationPolicies" [settings]="dropdownSettings"
      (onSelect)="onPolicySelect($event)" (onDeSelect)="OnPolicyDeSelect($event)" (onSelectAll)="onPolicySelectAll($event)"
      (onDeSelectAll)="onPolicyDeSelectAll($event)">
    </angular2-multiselect>
  </div>


</div>