<div class="cl-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="footer-3">
          <h4>Download the app</h4>

          <img src="assets/images/play.png">
        </div>

      </div>
      <div class="col-xs-12 col-sm-2">
        <div class="footer-1-in">
          <h4>Liamtra Traveller</h4>
          <ul>
            <li>
              <a href="#">About us</a>
            </li>
            <li>
              <a href="#">Careers</a>
            </li>
            <li>
              <a href="#">Press</a>
            </li>
            <li>
              <a href="#">Policies</a>
            </li>
            <li>
              <a href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="footer-1-in">
          <h4>Our Offrings</h4>
          <ul>
            <li>
              <a href="#">Flight Booking</a>
            </li>
            <li>
              <a href="#">Taxi Booking</a>
            </li>
            <li>
              <a href="#">Hotel Booking</a>
            </li>
            <li>
              <a href="#">Unique homes Booking</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="footer-1-in ">
          <h4>SUBSCRIBE A NEWSLETTER</h4>
          <input type="text" placeholder="Enter your email address">
          <button>Subscribe</button>
        </div>

        <div class="footer-2">
          <ul class="cl-social">
            <li>
              <a title="Facebook" href="#" target="_blank" class="icon-facebook"> </a>
            </li>
            <li>
              <a title="Twitter" href="#" target="_blank" class="icon-twitter"></a>
            </li>
            <li>
              <a title="Google+" href="#" target="_blank" class="icon-google-plus"></a>
            </li>
            <li>
              <a title="Pinterest" href="#" target="_blank" class="icon-pinterest"></a>
            </li>
            <li>
              <a title="youtube" href="#" target="_blank" class="icon-youtube"></a>
            </li>
            <li>
              <a title="Instagram" href="#" target="_blank" class="icon-instagram"></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="clear"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="capyright-in">
          <p>© 2018 liamtra.com | All Right Reserved.</p>

          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</div>