<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="details-all-left">
                <div class="details-left details-left-car">
                    <h3>Emraan saifi</h3>
                    <div class="clear"></div>
                    <div class="ratings">
                        <img src="assets/images/star.jpg" alt="">
                        <img src="assets/images/star.jpg" alt="">
                        <img src="assets/images/star.jpg" alt="">
                        <img src="assets/images/star.jpg" alt="">
                        <img src="assets/images/star.jpg" alt="">
                    </div>
                    <p> /
                        <a href="#"> Review ( 101 ) </a>
                    </p>

                    <p>
                        <a href="#">Write a review</a>
                    </p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="details-right">
                    <strong>Contact Vendor </strong>
                    <p> +91 8822 444 445</p>
                    <p>www.imransaifi.com</p>
                    <p>C-45, kanti nager, delhi - 110051</p>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>

            </div>



        </div>


        <div class="col-lg-9 margin-top20 left-checkout">
            <div class="left-details-setion">
                <img src="assets/images/vendor-de.jpg" width="100%">
            </div>



            <div class="list-overview">
                <a href="#">Profile</a> |
                <a href="#">Reviews</a>

            </div>
            <div class="list-overview-wrap">
                <h3>About Company</h3>
                <p>Since 1973, Jericho Terrace has been an icon of the New York catering industry. For three decades, Jericho
                    Terrace has built a reputation on its fine cuisine, impeccable service, elegant ambiance and attention
                    to detail.
                    <br>
                    <br> Jericho Terrace is owned and operated by two generations of the Leone family, the original proprietors,
                    whose dedication and pursuit of excellence have maintained a level of achievement that is second to none.
                    <br>
                    <br> At Jericho Terrace, we want to ensure that your affair surpasses all of your expectations. You will
                    be making countless decisions regarding the style of your affair. Planning means everything and your
                    time is valuable. We will provide you with your own personal event coordinator that will help you create
                    The Elegant Affair. Our event coordinator is available to you at no additional cost. Through our Elegant
                    Affair Program you will be provided with endless creative ideas. Along with professional recommendations
                    always keeping your budget and taste in mind to create the affair you have always dreamed about. You
                    can rest assure that through our Elegant Affair Program all of our preferred vendors have been carefully
                    screened and qualified to meet Jericho Terrace`s high standards.
                </p>
            </div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224346.61368409157!2d77.06889804009067!3d28.527218142304452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x52c2b7494e204dce!2sNew+Delhi%2C+Delhi!5e0!3m2!1sen!2sin!4v1511609182266"
                    width="100" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>