<div [ngClass]="{'is-visible':modal === true }"  class="cd-user-modal" style="z-index: 12;">

  <div class="cd-user-modal-container-terms-conditions" style="background-color:white;">
    <p class="popup-close-button">
      <img style="width: 4%;" (click)="closeModal()"  src="assets/images/roundCloseIcon.png">
    </p>

    <div class="cd-switcher">
      <label class="control-label" style="margin-left: 3%;">Terms of use</label>
      <div class="col-xs-12">
          <div style="background-color:white; border: 1px solid #e5e5e5;  overflow: auto; padding: 10px;">
              <p>Lorem ipsum dolor sit amet, veniam numquam has te. No suas nonumes recusabo mea, est ut graeci definitiones. His ne melius vituperata scriptorem, cum paulo copiosae conclusionemque at. Facer inermis ius in, ad brute nominati referrentur vis. Dicat erant sit ex. Phaedrum imperdiet scribentur vix no, ad latine similique forensibus vel.</p>
              <p>Dolore populo vivendum vis eu, mei quaestio liberavisse ex. Electram necessitatibus ut vel, quo at probatus oportere, molestie conclusionemque pri cu. Brute augue tincidunt vim id, ne munere fierent rationibus mei. Ut pro volutpat praesent qualisque, an iisque scripta intellegebat eam.</p>
              <p>Mea ea nonumy labores lobortis, duo quaestio antiopam inimicus et. Ea natum solet iisque quo, prodesset mnesarchum ne vim. Sonet detraxit temporibus no has. Omnium blandit in vim, mea at omnium oblique.</p>
              <p>Eum ea quidam oportere imperdiet, facer oportere vituperatoribus eu vix, mea ei iisque legendos hendrerit. Blandit comprehensam eu his, ad eros veniam ridens eum. Id odio lobortis elaboraret pro. Vix te fabulas partiendo.</p>
              <p>Natum oportere et qui, vis graeco tincidunt instructior an, autem elitr noster per et. Mea eu mundi qualisque. Quo nemore nusquam vituperata et, mea ut abhorreant deseruisse, cu nostrud postulant dissentias qui. Postea tincidunt vel eu.</p>
              <p>Ad eos alia inermis nominavi, eum nibh docendi definitionem no. Ius eu stet mucius nonumes, no mea facilis philosophia necessitatibus. Te eam vidit iisque legendos, vero meliore deserunt ius ea. An qui inimicus inciderint.</p>
          </div>
      </div>
  </div>

  <div class="social-login">
    <button style="float: right;
    margin-right: 1.7%;
    width: 15%;
    /* margin-top: -1%; */
    margin-top: -4px;
    background-color: green;
    border: none;
    color: white;
    height: 25px;" (click)="closeModal()">Ok</button>
        <!-- <span class="icon-facebook"></span>Facebook</button> -->
    <!-- <button (click)="signInWithGoogle()" class="googleplus">
        <span class="icon-google-plus"></span>Google+</button> -->
</div>
    <!-- <ul class="cd-switcher">

      <li>
        <a style="cursor: pointer" [ngClass]="{'selected':modalStatus === 'signIn'}">Sign in</a>
      </li>
      <li>
        <a style="cursor: pointer" [ngClass]="{'selected':modalStatus === 'signUp'}">New Account</a>
      </li>
    </ul>

    <div class="social-login">
      <button class="facebook">
        <span class="icon-facebook"></span>Facebook</button>
      <button class="googleplus">
        <span class="icon-google-plus"></span>Google+</button>
    </div> -->

  </div>

</div>
