<div class="slider-inn">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <!-- <li class="active"><a href="thanks.html">  Thank you</a></li> -->

                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="thanks">
                <h2>Thank you</h2>
                <h2>Your Details are successfully hosted.</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                    it to make a type specimen book. It has survived not only five</p>
                <a href="">Go to home page</a>
            </div>

        </div>
    </div>
</div>