<style>
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
</style>

<div class="checkoutbg fixed-header1" style="position: relative;">
  <div class="blank"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcum_wrap">
          <a (click)="routeHomeSearch()" class="btn-search">Modify Search</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="details-ads">
        <div class="details-left" #thehost>
          <h3>{{homeDetail.svcName}}</h3>
          <p>{{homeDetail.ownerName}}</p>
          <a class="btn-demo" style="cursor:pointer" (click)="openContactToHostModal()">Contact Host</a>
        </div>
        <div class="details-right">
          <!-- <strong>Contact host</strong> -->
          <p>Languages:
            <label *ngIf="homeDetail.language == ''">Not Specified</label>
            <label *ngIf="homeDetail.language != ''">{{homeDetail.language}}</label>
          </p>
          <p>Response rate:
            <label>100%</label>
          </p>
          <p>Response time:
            <label>within a few hours</label>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 margin-top20 left-checkout">
      <div class="left-details-setion">
        <h3>{{homeDetail.stayName}}</h3>
        <p>{{bookUnique.CityName}}</p>
        <div class="ratings" style="margin-top: 0;">
          <rating [(ngModel)]="homeDetail.avgReviews" [max]="5" fullIcon="★" emptyIcon="☆" [readonly]="false" [disabled]="true" [float]="true"></rating>
        </div>

        <image-slider [slides]="homeDetail.images" [sliderCss]="sliderCss"></image-slider>

        <div class="list-overview ">
          <a class="a-cursor-pointer" (click)="scroll('overview')">Overview</a> |
          <a class="a-cursor-pointer" (click)="scroll('target')">Reviews</a> |
          <a class="a-cursor-pointer" (click)="scroll('thehost')">The Host</a> |
          <a class="a-cursor-pointer" (click)="scroll('location')">Location</a> |
          <a class="a-cursor-pointer dropdown">Videos
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </a>
        </div>

        <div #overview class="list-overview-wrap" *ngFor="let item of homeDetail.serviceCategory">
          <h3>{{item.svcCatgDesc}}</h3>
          <ul *ngFor="let subCat of item.serviceSubCategory let i = index">
            <p class="a-cursor-pointer">
              <a *ngIf="i > 0"> | </a> {{subCat.svcSCatgDesc}} &nbsp;
            </p>
          </ul>
        </div>
        <div class="list-overview-wrap" *ngIf="homeDetail.reviews && homeDetail.reviews.length>0" #target>
          <h3>Reviews</h3>
          <ul *ngFor="let review of homeDetail.reviews">
            <li>
              {{review.reviewRemarks}}
            </li>
          </ul>
        </div>
        <div class="list-overview-wrap" *ngIf="homeDetail.reviews && homeDetail.reviews.length == 0" #target>
          <h3>No reviews (yet)</h3>
          <ul>
            <li>
              This home doesn’t have any reviews. If you stay here, your review will appear here.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 margin-top20">
      <div class="right-checkout-wrap">
        <div class="detail_right_price">
          <label>{{homeDetail.roomPrice | number:'.2-5'}} /</label>
          <span>Night</span>
        </div>
        <div class="right-checkout-wrap-mid no-border">
          <div class="date_checkin">
            <span>Check In</span>
            <div class="checkin-input">{{bookUnique.CheckIn}}</div>
          </div>
          <div class="date_checkin">
            <span>Check Out</span>
            <div class="checkin-input">{{bookUnique.CheckOut}}</div>
          </div>
          <div class="guest_checkin">
            <span>Guest</span>
            <select>
              <option>{{bookUnique.NumberofGuestsInRoom}} Guests</option>
            </select>
          </div>

          <div class="checkout-price-mid">
            <div class="left-checkout-price-mid">{{homeDetail.roomPrice | number:'.2-5'}} * {{numberOfDays}} night</div>
            <div class="right-checkout-price-mid">{{homeDetail.roomPrice * numberOfDays | number:'.2-5'}}</div>
          </div>
          <div *ngFor="let hostCharge of homeDetail.hostCharges">
            <div class="checkout-price-mid">
              <div class="left-checkout-price-mid">{{hostCharge.svcSCatgDesc}}</div>
              <div class="right-checkout-price-mid">{{hostCharge.amount | number:'.2-5'}}</div>
            </div>
          </div>
          <div class="checkout-price-mid border-topbg">
            <div class="left-checkout-price-mid">Total</div>
            <div class="right-checkout-price-mid">{{totalPrice | number:'.2-5'}}</div>
          </div>
        </div>
        <div class="right-checkout-price-btm">
          <a (click)="bookUniqueHome()" class="btn-custom" style="cursor:pointer">Book Now</a>
          <a (click)="openDialog()" class="btn-report" style="cursor:pointer">Report this Listing</a>
        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="map" #location>
        <app-google-map [mapSearch]="bookUnique.CityName" [locationCss]="locationCss"></app-google-map>
      </div>
    </div>
  </div>
</div>
<app-login-modal *ngIf="modal" (modalPopupEvent)="modalPopupEvent($event)" [modal]="modal" [modalStatus]="modalStatus"></app-login-modal>
<app-contact-to-host *ngIf="contactToHost" (contactToHostmodalPopupEvent)="contactToHostmodalPopupEvent($event)" [modal]="contactToHost"
  [ownerId]="homeDetail.ownerId"></app-contact-to-host>