<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2>Liamtrians</h2>
      <ul class="bxslider">
        <li *ngIf="div && div.review[0]">
          <div class="testi-in">
            {{div.review[0].reviewRemarks}}
          </div>
          <div class="test-cont">
            <img style="float: left;margin-right: 2%;" src="assets/images/test-img.png" width="52" height="52">
            <span>{{div.review[0].userName}}</span>
            <strong>- Director Deloitte</strong>
          </div>
        </li>
        <li *ngIf="div && div.review[1]">
          <div class="testi-in">
            {{div.review[1].reviewRemarks}}
          </div>
          <div class="test-cont">
            <img style="float: left;margin-right: 2%;" src="assets/images/test-img.png" width="52" height="52">
            <span>{{div.review[1].userName}}</span>
            <strong>- Director Deloitte</strong>
          </div>
        </li>
        <li *ngIf="div && div.review[2]">
          <div class="testi-in">
            {{div.review[2].reviewRemarks}}
          </div>
          <div class="test-cont">
            <img style="float: left;margin-right: 2%;" src="assets/images/test-img.png" width="52" height="52">
            <span>{{div.review[2].userName}}</span>
            <strong>- Director Deloitte</strong>
          </div>
        </li>
        <li *ngIf="div && div.review[3]">
          <div class="testi-in">
            {{div.review[3].reviewRemarks}}
          </div>
          <div class="test-cont">
            <img style="float: left;margin-right: 2%;" src="assets/images/test-img.png" width="52" height="52">
            <span>{{div.review[3].userName}}</span>
            <strong>- Director Deloitte</strong>
          </div>
        </li>
        <li *ngIf="div && div.review[4]">
          <div class="testi-in">
            {{div.review[4].reviewRemarks}}
          </div>
          <div class="test-cont">
            <img style="float: left;margin-right: 2%;" src="assets/images/test-img.png" width="52" height="52">
            <span>{{div.review[4].userName}}</span>
            <strong>- Director Deloitte</strong>
          </div>
        </li>
        <li *ngIf="div && div.review[5]">
          <div class="testi-in">
            {{div.review[5].reviewRemarks}}
          </div>
          <div class="test-cont">
            <img style="float: left;margin-right: 2%;" src="assets/images/test-img.png" width="52" height="52">
            <span>{{div.review[5].userName}}</span>
            <strong>- Director Deloitte</strong>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>